@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800');

:root {
  font-family: "Baloo 2";
  color: #FFF;
  background-color: #342850;
  --padding-inline: 5rem;
  --max-width: 1200px;
  --primary: #aba3d0;
  --secondary: #e2be67;
  --green: #80d179;
  --blue: #54b6d9;
  --error: #fc8375;
  --background: #342850;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-inline: var(--padding-inline);
  width: 100vw;
  height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    radial-gradient(ellipse at bottom left, #54b6d9b2, transparent 40%),
    radial-gradient(ellipse 80rem 50rem at 27% 1%, #fc837560, transparent 55%),
    var(--background);
  transform-origin: center;
}

#root {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
}

.page-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30vh;
  padding-top: 17rem;
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  body::before {
    background:
      radial-gradient(ellipse at 4% -14%, #54b6d9b2, transparent 46%),
      radial-gradient(ellipse at 105% 29%, #fc837560, transparent 32%),
      var(--background)
  }

  .page-main {
    padding-top: 4rem;
  }
}