@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800');

:root {
  font-family: "Baloo 2";
  color: #FFF;
  background-color: #342850;
  --padding-inline: 5rem;
  --max-width: 1200px;
  --primary: #aba3d0;
  --secondary: #e2be67;
  --green: #80d179;
  --blue: #54b6d9;
  --error: #fc8375;
  --background: #342850;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-inline: var(--padding-inline);
}

#root {
  width: 100%;
  max-width: var(--max-width);
}