.plans-page--title {
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    margin: 4rem;
}

.plans-page--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.plans-page--cards>.card {
    flex: 1 1 300px;

    max-width: 400px;
}

.plans-page--error {
    color: var(--error);
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.plans-page--cancel {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: var(--primary);
}

.plans-page--title h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.plans-page--button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 887px) {

    .plans-page--button,
    .plans-page--privacy {
        margin-top: 5rem;
    }
}