.plans-page--title {
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
}

.plans-page--cards {
    display: flex;    
    text-align: center;
}

.plans-page--card {
    flex: 1;    
};