.verify-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  gap: 2rem;
}

.verify-page--title {
  margin-bottom: 3.5rem;
}

.verify-page--list,
.verify-page--form {
  flex: 1;
  text-align: center;
}

.verify-page--list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.connect-page--benefits {
  margin-bottom: 2rem;
}

.verify-page--title h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.verify-page--title h2,
p {
  font-size: 1.25rem;
  font-weight: 100;
}

.verify-page--title p {
  color: var(--green);
}

@media (max-width: 768px) {
  .verify-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  /* to show the children elements */
  .verify-page--list,
  .verify-page--form {
    display: contents;
  }

  .verify-page--benefits,
  .verify-page--title,
  .verify-page--input {
    width: 100%;
  }

  .verify-page--title {
    order: 1;
  }

  .verify-page--benefits {
    order: 2;
  }

  .verify-page--input {
    order: 3;
    margin-top: 6rem;;
  }
}