.pin-wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    cursor: text;
    position: relative;
}

.pin-hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.pin-box-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.pin-box {
    --pin-box-size: 4rem;
    width: 100%;
    width: var(--pin-box-size);
    height: var(--pin-box-size);
    border: 2px solid #ccc;
    font-size: 24px;
    text-align: center;
    line-height: var(--pin-box-size);
    border-radius: 8px;
    background: white;
    color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: var(--error);
}

@media (max-width: 768px) {
    .pin-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .pin-box-wrapper {
        order: 1;
    }

    .pin--button {
        order: 2;
        margin-top: 3rem;
    }

    .pin--resend-code {
        order: 3;
    }

}